<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="space.changle.lynnia.repo.mapper.UserProfileMapper">

    <!-- ResultMap -->
    <resultMap id="UserProfileResultMap" type="space.changle.lynnia.repo.entity.UserProfile">
        <id property="userId" column="user_id"/>
        <result property="nickname" column="nickname"/>
        <result property="tgUsername" column="tg_username"/>
        <result property="reputation" column="reputation"/>
        <result property="bio" column="bio"/>
        <result property="plusCount" column="plus_count"/>
        <result property="minusCount" column="minus_count"/>
        <result property="taskCount" column="task_count"/>
        <result property="photoUrl" column="photo_url"/>
        <result property="identityType" column="identity_type"/>
        <result property="timezone" column="timezone"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


    <!-- 基础字段 -->
    <sql id="Base_Column_List">
        user_id,
        nickname,
        tg_username,
        reputation,
        bio,
        plus_count,
        minus_count,
        task_count,
        photo_url,
        identity_type,
        timezone,
        update_time
    </sql>


    <!-- 根据用户ID查询 -->
    <select id="selectByUserId" resultMap="UserProfileResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user_profile
        WHERE user_id = #{userId}
    </select>

    <select id="selectUserTimeZone" resultType="java.lang.String">
    SELECT timezone
    FROM t_user_profile
    WHERE user_id = #{userId}
    </select>

    <!-- 插入 -->
    <insert id="insertProfile" parameterType="space.changle.lynnia.repo.entity.UserProfile">
        INSERT INTO t_user_profile (
        <include refid="Base_Column_List"/>
        ) VALUES (
        #{userId},
        #{nickname},
        #{tgUsername},
        #{reputation},
        #{bio},
        #{plusCount},
        #{minusCount},
        #{taskCount},
        #{photoUrl},
        #{identityType},
        #{timezone},
        #{updateTime}
        )


    </insert>

    <update id="updateBio" parameterType="space.changle.lynnia.repo.entity.UserProfile">
        UPDATE t_user_profile
        SET bio = #{bio},
            update_time = #{updateTime}
        WHERE user_id = #{userId}
    </update>
    <update id="updateProfile" parameterType="space.changle.lynnia.repo.entity.UserProfile">

        update t_user_profile
        <set>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="photoUrl != null">
                photo_url = #{photoUrl},
            </if>
            update_time = #{updateTime}
        </set>
        WHERE user_id = #{userId}

    </update>
    <update id="updateReputation">
        UPDATE t_user_profile
        SET reputation = reputation + #{reputation},
            update_time = #{updateTime}
        WHERE user_id = #{userId}
    </update>
    <update id="updateTimeZone">
        UPDATE t_user_profile
        SET timezone = #{timezone},
            update_time = #{updateTime}
        WHERE user_id = #{userId}

    </update>
    <update id="updateUserIdentity">
        UPDATE t_user_profile
        SET identity_type = #{identityType},
            update_time = #{updateTime}
        WHERE user_id = #{userId}


    </update>


    <!-- 删除 -->
    <delete id="deleteByUserId">
        DELETE
        FROM t_user_profile
        WHERE user_id = #{userId}
    </delete>

</mapper>